<header id = "Descricao-iniciativa">
    <div>
      <h1>Equilibre-se</h1>
        <p>
         Um evento para revolucionar a sua vida
        </p>
        <p>Data:</p>
    </div>
    <div id="formulario-Inscricao">
      <p>Preencha o formulário para receber os detalhes do evento</p>
      <form>
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" name="name" placeholder="Digite seu nome">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" 
          name="name" placeholder="Digite seu melhor email">
        </div>
        <div class="form-group">
          <label for="phone">Telefone</label>
          <input type="text" 
          name="phone" placeholder="Numero do seu zap">
        </div>
        <div class="form-group">
          <label for="email">Nome</label>
          <input type="email" 
          name="name" placeholder="Digite seu melhor email">
        </div>
        
        <div class = "form-group">
          <label for="interesses">Principais interesses</label>
          <select name="interesses">
            <option value = "Ed. Financeira">Ed. Financeira</option>
            <option value = "Inteligencia Em">Inteligencia Em</option>
            <option value = "Investimento">Investimento</option>
          </select>
        </div>

        <input type="submit" value="Quero me inscrever">
        
      </form>
    </div>
</header>
